.footer {
    background-color: #191919;
    color: white;
    margin-top: 50px;
    padding: 30px;
}
.half-width {
    float: left;
    margin-bottom: 30px;
    
   
    
}
.half-width img{
    width: 40%;
    margin-left: 20px;
}

.footer-content {
    float: left;
    font-family: serif;
    font-size: 14px;
    line-height: 35px;
    
}

small.footer-copy {
    text-align: center;
    margin-top: 35px;
    color: palevioletred;
    font-family: emoji;
}